.climate-panel{
    margin-top: 30px;
    max-width: 400px;
}

.input-group{
    position: static;
    max-width: 259px;
    width: 259px;
    height: 36px;
}

.form-control{
    height: 36px;
}

.block-button{
    margin-bottom: 5px;
}

.glypchart{
    padding-top: 3px;
    padding-right: 90px;
}
