.climate-panel{
    margin-top: 30px;
    max-width: 400px;
}

.input-group{
    position: static;
    max-width: 259px;
    width: 259px;
    height: 36px;
}

.form-control{
    height: 36px;
}

.has-feedback{
    width: 265px;
}

.block-button{
    margin-bottom: 5px;
}

.glypchart{
    padding-top: 3px;
    padding-right: 90px;
}

body {
    background: url(images/living-room-3035878_1280.jpg) fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
    background-color: #444444;
}