{% extends 'iot/home.html' %}
{% load staticfiles %}


{% block script %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script>

        let climate_endpoint = '{% url 'climate' %}';

        function refresh_chart() {
            console.log('refresh chart!');
        }

        function refresh_climate() {
            console.log('refresh last climate data from DB!');
            $.ajax({
                async: true,
                url: climate_endpoint,
                success: function (data) {
                    //console.log(data);
                    $('#climate').html(data);
                    console.log('climat refresh OK')
                }
            });
        }

        $(document).ready(function () {
            console.log('STARTING refresh');
            refresh_climate();
            setInterval('refresh_climate()', 10000);
            $('.container').on('click', '#bathroom_week', function () {
                this.blur(); // off focus on button after click
                console.log('click!!!!');
                let val = $(this).attr('value');
                //refresh_chart();
                $.ajax({
                type: 'get',
                async: true,
                url: '/bathroom/api/chart/' + val,
                //data: {'period': $(this).attr('value')},
                }).done(function (data) {
                    $('#data_chart').html(data);
                    //console.log(data);
                    console.log('chart refresh OK')
                }).fail(function () {
                    console.log('"Sorry. Server unavailable. "');
                });
            });
        });
    </script>

{% endblock %}


{% block title %}
    bathroom
{% endblock %}


{% block style %}
    <link href="{% static 'iot/climate_rooms.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container">
      <h2>Bathroom</h2>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Climate</a></li>
        <li><a id="chartupdate" data-toggle="tab" href="#menu1">Chart</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
        <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>Real time data</h3>
          <p>{% include 'iot/climate.html' %}</p>
        </div>
        <div id="menu1" class="tab-pane fade">

          <h3>Chart</h3>
          <button id="bathroom_week" value="7" class="btn btn-info btn-sm">Last week</button>
          <p>{% include 'iot/bathroom_chart.html' %}</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <div class="row">
              <div class="col-sm-12">
                  Hello World!
              </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3>Menu 3</h3>
          <p>Hello</p>
        </div>
      </div>
    </div>

{% endblock %}
