{% extends 'iot/home.html' %}
{% load staticfiles %}

{% block style %}
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

{% endblock %}


{% block title %}
    charts
{% endblock %}


{% block content %}

{% load chartit %}
{{ weatherchart|load_charts:"data" }}
    <div id='data'> Chart will be rendered here </div>

{% endblock %}

{% block scripts_body_down %}

{% endblock %}



