<!--
<div id="temp">
  <h3>Date</h3>
    <p>{{ data.datetime|date:"d/m/Y" }} {{ data.datetime|time:"H:i" }}</p>
  <h3>Temp</h3>
    <p>{{ data.temp_value }} &#8451;</p>
  <h3>Hum</h3>
    <p>{{ data.hum_value }} %</p>
</div>
-->

<div id="temp" class="climate-panel">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Date</h3>
      </div>
      <div class="panel-body">
          {{ data.datetime|date:"d/m/Y" }} {{ data.datetime|time:"H:i" }}
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Temperature</h3>
      </div>
      <div class="panel-body">
          {{ data.temp_value }} &#8451;
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Humidity</h3>
      </div>
      <div class="panel-body">
          {{ data.hum_value }} %
      </div>
    </div>
</div>