{% extends 'iot/home.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'iot/underconstraction.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="main-area center-text">

		<div class="display-table">
			<div class="display-table-cell">

				<h1 class="title font-white"><b>Page is under construction</b></h1>
				<p class="desc font-white">
                    At the moment you can observe the  indicators
                    for the Bathroom and Living room only.
                </p>
				<a class="notify-btn" href="{% url 'bathroom' %}"><b>Bathroom</b></a>
                <a class="notify-btn" href="{% url 'liveroom' %}"><b>Living room</b></a>

			</div>
		</div>
	</div>
{% endblock %}
